<p id="notice"><%= notice %></p>

<p>
  <b>Player 1:</b>
  <%= @match.player_1_id %>
</p>

<p>
  <b>Player 2:</b>
  <%= @match.player_2_id %>
</p>


<%= link_to 'Edit', edit_match_path(@match) %> |
<%= link_to 'Back', matches_path %>
