<%= form_for([:api, @match], :html => { :class => 'form-horizontal' }) do |f| %>
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
    <%= f.fields_for :player_matches do |player_form| %>
    <li>
    <%= player_form.label :name, 'Player Name' %>
    <%= player_form.collection_select(:player_id, Player.all, :id, :name, {:prompt => true}) %>
    </li>
    <% end %>
    </div>
  </div>
  <div class="form-actions">

    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                api_matches_path, :class => 'btn' %>
  </div>
<% end %>
